img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.callout {
  border-radius: 6px;
  background: transparent;
  border: 1.6px solid rgba(0, 0, 0, 0.18);
}

.cm-callout {
  background: transparent;
  border-radius: 6px;
  box-shadow: 0px 3px 9px 0px rgb(0 0 0 / 29%);
/*   box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 2px;
    border-radius: 6px;
    box-shadow:0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
/*     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    border: 0.85px solid rgba(0, 0, 0, 0.18);
}

 .markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}

.image-captions-figure {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  color: #989898;
  font-size: 10px;
}

.theme-light .image-captions-figure {
    background: transparent;
}

.theme-dark .image-captions-figure {
    background: transparent;
}

.image-captions-caption {
  margin: 5px 0;
/*   background: #ffffff; */
}

.markdown-source-view, .markdown-preview-view {
  max-width: 2000px;
  margin: auto;
}
